<li>
    <a href="{{ path('corte_index' ) }}" class="waves-effect waves-primary"><span>Corte</span></a>
</li>
<li>
    <a href="{{ path('acero_setup' ) }}" class="waves-effect waves-primary"><span> Setup </span></a>
</li>
<li>
    <a href="{{ path('acero_produccion' ) }}" class="waves-effect waves-primary"><span> Producción </span></a>
</li>
<li>
    <a href="{{ path('acero_chapa' ) }}" class="waves-effect waves-primary"><span>Chapa </span></a>
</li>
<li>
    <a href="{{ path('acero_pintura' ) }}" class="waves-effect waves-primary"><span>Pintura </span></a>
</li>
<li>
    <a href="{{ path('marketing_index' ) }}" class="waves-effect waves-primary"><span>Marketing </span></a>
</li>
<li>
    <a href="{{ path('acero_costos' ) }}" class="waves-effect waves-primary"><span>Costos </span></a>
</li>


