{% extends 'base.html.twig' %}

{% block title %}Corte{% endblock %}

{% block body %}
    <h1>Corte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ corte.id }}</td>
            </tr>
            <tr>
                <th>Espesor</th>
                <td>{{ corte.espesor }}</td>
            </tr>
            <tr>
                <th>Vel_corte</th>
                <td>{{ corte.velCorte }}</td>
            </tr>
            <tr>
                <th>T_pinchazo</th>
                <td>{{ corte.tPinchazo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('corte_index') }}">back to list</a>

    <a href="{{ path('corte_edit', {'id': corte.id}) }}">edit</a>

    {{ include('corte/_delete_form.html.twig') }}
{% endblock %}
